body {
  overflow: visible !important;
  /* You can delete those if you want. I just found them very helpful */
} 

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 2px solid white; /* creates padding around scroll thumb */
}

body {
  scrollbar-width: auto; /* "auto" or "thin" */
  scrollbar-color: grey white; /* scroll thumb and track */
}

* {
  box-sizing: border-box;
}
.m {
  /* Don't cut off dropdowns! */
  overflow: initial;
}
.m.adapter-container,
.m.adapter-container > div.App {
  /* Fix layout/scrolling issues with tabs */
  height: 100%;
  width: 100%;
  position: relative;
  overflow: visible !important;
}
.m .select-wrapper + label {
  /* The positioning for dropdown labels is messed up */
  transform: none !important;
}

label > i[title] {
  /* Display the help cursor for the tooltip icons and fix their positioning */
  cursor: help;
  margin-left: 0.25em;
}

.dropdown-content {
  /* Don't wrap text in dropdowns */
  white-space: nowrap;
}

code {
  background-color: pink;
  padding: 2px 8px important!;
}

[role="tooltip"] {
  font-size: 10em;
/*   CSS goes here */
}
/* Add your styles here */
